<html>
    {% load static %}
    <!-- Head section -->
    <head>
        <!-- mobile responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- bootstrap import -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- css import -->

<link rel="stylesheet" href="{% static 'css\home.css' %}">

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">

<style>
  
  @media screen and (max-width: 600px) {
    image1 {
      height: 300px;
      width: 300px;
    }
  }
</style>

</head>


    <!-- Body starts -->
    <body style="background-color:#2e2d40 ; overflow-x: hidden;">
     
       <!-- Navbar starts -->

       <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #2e2d40;">
        <a class="navbar-brand navbar-brand-color" href="{% url 'homepage' %}" style="color: white; font-size: 30px;">NOTE ME</a>
        <button style="color: white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="background-color: white;"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white; margin-right: 15px;font-size: 20px;">How to use Note Me</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}" style="color: white; margin-right: 15px;font-size: 20px;">Logout</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white; margin-right: 15px;font-size: 20px;">Contact Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white; margin-right: 15px;font-size: 20px;">Welcome {{user.username}}</a>
            </li>

            {% else %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}" style="color: white; margin-right: 15px; font-size: 20px;">Register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white; margin-right: 15px; font-size: 20px;">Join an organization</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" style="color: white; margin-right: 15px; font-size: 20px;">Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" style="color: white; margin-right: 15px;font-size: 20px;">Contact Us</a>
              </li>

              {% endif %}
            
          </ul>
          
        </div>
      </nav>

    <!-- navbar ends -->

       <!-- Content of each page goes here -->
      <div class="container">
       {% block content %}

       {% endblock %}
</div>
    </body>

    </html>