{% extends 'main/base.html' %}

{% block content %}

<!-- <img src="static/images/prime.png" height="200" width="200"> -->

<!-- landing section starts -->

<div class="row" style="margin-top: 150px;">
    <div class="col-lg-6" style="color: white;">
       <p align="center" style="font-family: 'RocknRoll One', sans-serif; font-size: 50px; font-weight: bold; color: #5ce1e6;"> 
        MAKING NOTES IS NOW A BREEZE !</p>
    </div>
    <div class="col-lg-6">
        <p align="center" > <img src="static/images/prime.png" height="300" width="300"> 
    </div>
</div>

<!-- landing section ends -->

<!-- never miss important section starts -->

<div class="row" style="margin-top: 150px;">
    <div class="col-lg-6">

        <p align="center" style="font-family: 'RocknRoll One', sans-serif; font-size: 35px; font-weight: bold; color: #5ce1e6;"> 
            NEVER MISS ANY IMPORTANT POINTS IN A LECTURE</p>

            <p align="left" style="font-family: 'RocknRoll One', sans-serif; font-size: 25px;  color: white; margin-top: 20px;"> 
                In todays world where most of the lectures are taken online, taking notes has become a headache for many students.</p>

    </div>
    <div class="col-lg-6">

        <p align="center" style="margin-top: 40px;" > <img src="static/images/s.png" height="80%" width="80%" class="image1">
        
    </div>
</div>

<!-- never miss important section ends -->

<!-- courseal starts -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-color: white; padding: 50px; border-radius: 5%;">
        <p style="float: center;"><h3 align="center" style="font-weight: bold;">Great Product!</h3></p>
        <p><h5 align="center" style="margin-top: 50px;">
            This is an awesome initiative!

        </h5></p>
        <p><h6 align="center"> - MR. XYZ (CEO at ABC)</h6></p>
      </div>
      <div class="carousel-item" style="background-color: white; padding: 50px; border-radius: 5%;">
        <p><h3 align="center" style="font-weight: bold;">Great Product!</h3></p>
        <p><h5 align="center" style="margin-top: 50px;">
            This is an awesome product!
        </h5></p>
        <p><h6 align="center"> - MR. XYZ (CEO at ABC)</h6></p>
      </div>
      <div class="carousel-item" style="background-color: white; padding: 50px; border-radius: 5%;">
        <p><h3 align="center" style="font-weight: bold;">Great Product!</h3></p>
        <p><h5 align="center" style="margin-top: 50px;">
            We just loved it!
        </h5></p>
        <p><h6 align="center"> - MR. XYZ (CEO at ABC)</h6></p>
      </div>
    </div>
  </div>

<!-- courseal ends -->

<!-- cards start -->

<div class="row">
  <div class="card" style="width: 18rem; margin-left: 60px; margin-bottom: 100px;">
    <img class="card-img-top" src="static/images/watch.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;  margin-left: 60px;  margin-bottom: 100px;">
    <img class="card-img-top" src="static/images/teach.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 60px;  margin-bottom: 100px;">
    <img class="card-img-top" src="static/images/notebook.png" alt="Card image cap" >
    <div class="card-body">
      <p class="card-text" style="margin-top: 60px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

<!-- cards end -->

<!-- jumbotron starts -->

<div class="jumbotron" style=" background-color: white;">
  <h1 class="display-4">Join the community today!</h1>
  <p class="lead">Note was made to save your time as well as efforts!</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="#" role="button">Learn more!</a>
  </p>
</div>

<!-- jumbotron ends -->

{% endblock %}

<!-- git branch -m main master
git fetch origin
git branch -u origin/master master -->
