{% extends 'main/base.html' %}

{% block content %}

<h1 style="color: white;">Login</h3>

<form action="login" method="POST" style="margin-top: 100px;">
    {% csrf_token %}
    <p style="color: white;">Username: <input type="text" name="username"></p>
    <p style="color: white;">Password: <input type="password" name="password"></p>
    <input type="submit">
</form>

<div class="container">
    {% for message in messages %} 
      <h3 style="color: white;">{{message}}</h3>
    {% endfor %}  
  </div>

{% endblock %}