{% extends 'main/base.html' %}

{% block content %}


<h1 style=" margin-top: 100px; color: white;">Create New Account</h1>

<!-- <form method="POST" action="register">
  {% csrf_token %}
    <p style="color: white;"><input type="text" name="first_name" placeholder="First Name"> </p>
    <p style="color: white;"><input type="text" name="last_name" placeholder="Last Name"> </p>
    <p style="color: white;"><input type="text" name="username" placeholder="UserName"> </p>
    <p style="color: white;"><input type="email" name="email" placeholder="Email"> </p>
    <p style="color: white;"><input type="password" name="password" placeholder="Password"> </p>
    <p style="color: white;"><input type="password" name="conpassword" placeholder="Password Again"> </p>
     <input type="submit">
</form> -->

{% for message in messages %}
<div class="alert alert-info" role="alert">
   
    <h3 style="color: black;">{{message}}</h3>
  
</div>
{% endfor %}

<form method="POST">
  {% csrf_token %}
<div class="input-group input-group-sm mb-3">
  

  <div class="input-group" style="margin-top: 50px;">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with radio button" placeholder="Enter your First Name" name="first_name">
  </div>

  <div class="input-group" style="margin-top: 20px;">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with radio button" placeholder="Enter your Last Name" name="last_name">
  </div>

  <div class="input-group " style="margin-top: 20px;">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
      </div>
    </div>
    <input type="email" class="form-control" aria-label="Text input with radio button" placeholder="Enter your Email Address" name="email">
  </div>

  <div class="input-group" style="margin-top: 20px;">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with radio button" placeholder="Enter your UserName" name="username">
  </div>

  <div class="input-group" style="margin-top: 20px;">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
      </div>
    </div>
    <input type="password" class="form-control" aria-label="Text input with radio button" placeholder="Enter your Password" name="password">
  </div>

  <div class="input-group" style="margin-top: 20px;">
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
      </div>
    </div>
    <input type="password" class="form-control" aria-label="Text input with radio button" placeholder="Enter your Confirmed Password" name="conpassword">
  </div>



  <button type="submit" class="btn btn-light" style="margin-top: 30px;">Register</button>

  
</div>

</form>

<h5 style="color: white;">Already have an account? <a href="{% url 'login' %}">Login</a></h5>



{% endblock %}
